<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tris_flood_monitoring">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Fireapp"
        android:allowBackup="true"
        android:icon="@drawable/cek03"
        android:label="Flood Monitrong"
        android:roundIcon="@drawable/cek03"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main_grafik"></activity>
        <activity android:name=".halaman_utama">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>